body {
  background: radial-gradient(#535353, #000000);
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif
}

#tb {
  outline: 14px solid #ffffff;
  background-color: #000000;
  text-align: center;
  display: inline-block;
}
