body {
  background: repeating-linear-gradient(0deg, #000000, #aaaaaa 100%);
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif
}

#tb {
  outline: 14px solid #ffffff;
  background-color: #000000;
  text-align: center;
  display: inline-block;
  width: 20%
}
